{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% for item in news|reverse %}
<div class="col-md-8 border rounded bg-light mb-4 p-4">
    <h3>{{ item.title }}</h3>
    <h5 class="text-muted">{{ item.category }}</h5>
    <div class="overflow-auto bg-white p-3 rounded" style="max-height: 500px; overflow-y: auto; word-wrap: break-word;">
        <p class="text-secondary">{{ item.content }}</p>
    </div>
    <div class="mt-4 text-muted">
        <div>
            Автор: {{ item.user.name }}
        </div>
        <div>
            Дата создания: {{ item.created_date.strftime("%d.%m.%Y %H:%M") }}
        </div>
    </div>

    {% if current_user.is_authenticated and current_user == item.user %}
    <div class="mt-4">
        <a href="/news/{{ item.id }}" class="btn btn-warning me-2">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}