{% extends "base.html" %}

{% block content %}
<div style="height: 20px;"></div>

<h1>Записи в блоге</h1>
<!-- Форма с фильтрами -->
<style>
    .filter-form {
        margin-bottom: 20px; /* Настройте значение отступа по вашему усмотрению */
    }


</style>

<!-- Форма с фильтрами -->
<form class="filter-form" method="GET" action="{{ url_for('index') }}">
    <div class="row g-3 align-items-center">
        <div class="col-md-4">
            <label for="sort_order" class="form-label">Сортировать по дате:</label>
            <select class="form-select" id="sort_order" name="order">
                <option value="newest" {% if order==
                'newest' %} selected {% endif %}>Сначала новые</option>
                <option value="oldest" {% if order==
                'oldest' %} selected {% endif %}>Сначала старые</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="sort_likes" class="form-label">Сортировать по лайкам:</label>
            <select class="form-select" id="sort_likes" name="likes_order">
                <option value="most_liked" {% if likes_order==
                'most_liked' %} selected {% endif %}>Сначала популярные</option>
                <option value="least_liked" {% if likes_order==
                'least_liked' %} selected {% endif %}>Сначала непопулярные</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="sort_user" class="form-label">Сортировать по создателям:</label>
            <select class="form-select" id="sort_user" name="filterBy">
                <option value="all" {% if filterBy==
                'all' %} selected {% endif %}>Все записи</option>
                <option value="my_posts" {% if filterBy==
                'my_posts' %} selected {% endif %}>Только мои записи</option>
            </select>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Применить</button>
        </div>
    </div>
</form>


{% for item in news %}
<div class="col-lg-12 border rounded bg-light mb-4 p-4"> <!-- Изменен класс на col-lg-11 -->
    <h3>{{ item.title }} <span class="badge bg-custom-light-blue text-dark">{{ item.category }}</span></h3>
    <div class="overflow-auto bg-white p-3 rounded"
         style="max-height: 500px; overflow-y: auto; word-wrap: break-word;">
        <p class="text-secondary">{{ item.content }}</p>
    </div>
    <div class="mt-4 text-muted">
        <div>
            Автор: {{ item.user.name }}
        </div>
        <div>
            Дата создания: {{ item.created_date.strftime("%d.%m.%Y %H:%M") }}
        </div>
    </div>

    {% if current_user.is_authenticated %}
    {% if current_user.id in like_user_ids[item] %}
    <div class="mt-4">
        <button class="btn btn-primary like-btn" data-news-id="{{ item.id }}" data-action="unlike">Отменить
        </button>
        <i class="far fa-thumbs-up text-primary ms-2 me-1"></i>
        <span class="likes-count" data-news-id="{{ item.id }}">{{ likes_count.get(item.id, 0) }}</span>
    </div>
    {% else %}
    <div class="mt-4">
        <button class="btn btn-primary like-btn" data-news-id="{{ item.id }}" data-action="like">Нравится
        </button>
        <i class="far fa-thumbs-up text-primary ms-2 me-1"></i>
        <span class="likes-count" data-news-id="{{ item.id }}">{{ likes_count.get(item.id, 0) }}</span>
    </div>
    {% endif %}
    {% else %}
    <div class="mt-4">
        <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="Необходимо войти, чтобы поставить лайк">Нравится
        </button>
        <i class="far fa-thumbs-up text-primary ms-2 me-1"></i>
        <span class="likes-count">{{ likes_count.get(item.id, 0) }}</span>
    </div>
    {% endif %}

    {% if current_user.is_authenticated and current_user == item.user %}
    <div class="mt-4">
        <a href="/news/{{ item.id }}" class="btn btn-warning me-2">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}

<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip();
    });




</script>
{% endblock %}
