{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% for item in news|reverse %}
<div class="col-md-8 border rounded bg-light mb-4 p-4">
    <h3>{{ item.title }}</h3>
    <h5 class="text-muted">{{ item.category }}</h5>
    <div class="overflow-auto bg-white p-3 rounded"
         style="max-height: 500px; overflow-y: auto; word-wrap: break-word;">
        <p class="text-secondary">{{ item.content }}</p>
    </div>
    <div class="mt-4 text-muted">
        <div>
            Автор: {{ item.user.name }}
        </div>
        <div>
            Дата создания: {{ item.created_date.strftime("%d.%m.%Y %H:%M") }}
        </div>
    </div>

    {% if current_user.is_authenticated %}
    {% if current_user.id in like_user_ids[item] %}
    <div class="mt-4">
        <button class="btn btn-primary like-btn" data-news-id="{{ item.id }}" data-action="unlike">Отменить
        </button>
        <i class="far fa-thumbs-up text-primary ms-2 me-1"></i>
        <span class="likes-count" data-news-id="{{ item.id }}">{{ likes_count.get(item.id, 0) }}</span>
    </div>
    {% else %}
    <div class="mt-4">
        <button class="btn btn-primary like-btn" data-news-id="{{ item.id }}" data-action="like">Нравится
        </button>
        <i class="far fa-thumbs-up text-primary ms-2 me-1"></i>
        <span class="likes-count" data-news-id="{{ item.id }}">{{ likes_count.get(item.id, 0) }}</span>
    </div>
    {% endif %}
    {% else %}
    <div class="mt-4">
        <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="Необходимо войти, чтобы поставить лайк">Нравится
        </button>
        <i class="far fa-thumbs-up text-primary ms-2 me-1"></i>
        <span class="likes-count">{{ likes_count.get(item.id, 0) }}</span>
    </div>
    {% endif %}

    {% if current_user.is_authenticated and current_user == item.user %}
    <div class="mt-4">
        <a href="/news/{{ item.id }}" class="btn btn-warning me-2">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}

<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip();
    });


</script>
{% endblock %}
